streamlit
pandas
speechrecognition
pyttsx3
requests
langchain
langchain-openai
langchain-groq
langchain-huggingface
langchain-google-genai
google-generativeai
langchain-ollama
chromadb
faiss-cpu
pinecone-client
weaviate-client
langchain-text-splitters
fastapi
uvicorn
langchain-community
pyodbc
python-multipart